@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Gotham-Ultra.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Gotham-Rounded-Book.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Gotham-Rounded-Light.ttf") format("truetype");
  font-display: swap;
}

:root {
  --blue-light: #00d1ff;
  --yellow-light: #fff500;
  --red-light: #ff0000;

  --text-color: #333;
  --text-white: #ffffff;
  --avatar-blue: #38B6FF;


  --bg-color: #f2f2f2;

  --button-blue-dark: #0b60a3;
  --button-blue-light: #0c6dba;

  --opacity-blue: rgba(0, 183, 235, 0.05);

  --grey: #9fa5a7;

  --dot: #d9d9d9;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Gotham", Arial, sans-serif;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  margin: 0;
  background-image: url('img/LW002.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

svg {
  width: 100%;
  height: 100%;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 1440px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid var(--blue-light);
  box-shadow: 0 0 20px var(--avatar-blue, 0.5);
  padding: 0 20px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-white);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--button-blue-light);
  border: 0;
  border-radius: 4px;
  padding:8px 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.main {
  display: flex;
  gap: 50px;
}

.languages {
  border-top: 1px solid var(--blue-light);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--blue-light);
}

.languages__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.languages__icon {
  width: 25px;
  height: 25px;
}

.languages h2 {
  margin: 20px 0 20px 20px;
}

.languages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.languages__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.languages__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__content {
  margin-bottom: 30px;
}

.contacts__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.contacts h2 {
  margin: 20px 0 20px 20px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.contacts__icon {
  width: 25px;
  height: 25px;
}

.contacts__svg {
  width: 42px;
  height: 42px;
}

.contacts__address {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  font-size: 16px;
}

.contacts__link svg {
  width: 40px;
  height: 40px;
}

.skills__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  width: 300px;
}

.skills__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}

.skills {
  width: inherit;
  position: relative;
  float: left;
  padding: 30px 0;
}

.skills__list > li {
  margin-bottom: 40px;
  background: var(--dot);
  height: 5px;
  border-radius: 3px;
  border: 1px solid var(--grey);
  position: relative;
}

.skills__list > li em {
  font-size: 18px;
  position: relative;
  top: -30px;
  font-style: normal;
}

.skills__list > li span {
  height: 3px;
  background: var(--blue-light);
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
  border-radius: 3px;
}

.html {
  width: 100%;
  animation: html 2s ease-out;
}

.css {
  width: 90%;
  animation: css 2s ease-out;
}

.js {
  width: 50%;
  animation: js 2s ease-out;
}

.react {
  width: 30%;
  animation: react 2s ease-out;
}

.node {
  width: 10%;
  animation: node 2s ease-out;
}

.freemarker {
  width: 50%;
  animation: freemarker 2s ease-out;
}

@keyframes html {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes css {
  0% { width: 0%; }
  100% { width: 90%; }
}

@keyframes js {
  0% { width: 0%; }
  100% { width: 50%; }
}

@keyframes react {
  0% { width: 0%; }
  100% { width: 30%; }
}

@keyframes node {
  0% { width: 0%; }
  100% { width: 10%; }
}

@keyframes freemarker {
  0% { width: 0%; }
  100% { width: 50%; }
}

.experience__info {
  display: flex;
  justify-content: space-between;
  width: 700px;
  font-weight: 300;
}

.experience__title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.experience__preview {
  display: flex;
  align-items: center;
  gap: 20px;
}

.experience__preview img {
  background-color: var(--bg-color);
  border-radius: 14px;
  padding: 4px;
}

.experience__wrapper p {
  width: 750px;
  line-height: 25px;
  margin: 25px 0;
  font-size: 16px;
}

.dots {
  display: inline-flex;
  gap: 4px;
  margin-left: 10px;
  vertical-align: middle;
}
.dots__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--dot);
}

.dots__dot--active {
  background-color: var(--blue-light);
}

i {
  color: var(--grey);
}

.projects {
  margin-bottom: 100px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 55px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects__wrapper {
  position: relative;
  width: 400px;
  height: 173px;
  overflow: visible;
}

.projects__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform: skew(30deg);
  overflow: hidden;
}

.projects__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skew(-30deg) scale(1.25);
}

.projects__content .projects__overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('img/triangles-mask.png');
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
  z-index: 1;
}

.projects__wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  bottom: -20px;
  left: 10px;
  padding: 10px 20px;
  background-color: var(--button-blue-dark);
  color: var(--text-white);
  border: none;
  font-size: 16px;
  z-index: 2;
  width: 50%;
  height: 27%;
  font-family: 'Gotham';
  overflow: hidden;
}

.projects__wrapper a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-image: url('img/mask\ 1.png');
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
  transform: skew(30deg);
}

.cube {
  width: 100%;
  height: 100%;
}

.cube__wrapper {
  width: 380px;
  height: 380px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('img/frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}

.cube__img {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
}

.cube__wrapper h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
  line-height: 24px;
}

h2 span {
  color: var(--avatar-blue);
}

.cube__wrapper p {
  font-size: 15px;
  color: var(--text-color);
  margin: 0;
  grid-column: 1 / -1;
}

.code {
  position: relative;
  padding: 20px;
  animation: scanIn 1s ease-out;
}

.code pre {
  border: 1px solid var(--blue-light);
  border-radius: 4px;
  padding: 15px;
  overflow-x: auto;
  position: relative;
  box-shadow: 0 0 5px var(--avatar-blue, 0.3);
  background-image: linear-gradient(to bottom, var(--opacity-blue) 1px, transparent 1px), linear-gradient(to right, var(--opacity-blue) 1px, transparent 1px);
  background-size: 20px 20px;
  overflow: hidden;
}

.code pre::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 183, 235, 0.2), transparent);
  animation: scanWave 4s infinite linear;
}

.code code {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-color);
}


.code span {
  color: var(--blue-light);
}

@keyframes scanWave {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.footer {
  border-top: 1px solid var(--blue-light);
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.footer__link-github {
  width: 100px;
  height: 100px;
  display: flex;
}

/* Идеи для CV из CodePen */
/* https://codepen.io/kani339/pen/abBQZop */
.nav__item {
  position: relative;
  padding: 10px 20px;
}

.nav__item::before,
.nav__item::after,
.nav__item em::before,
.nav__item em::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 0 solid var(--grey);
}

.nav__item--active::before {
  top: 0;
  left: 0;
  border-top-width: 1px;
  border-left-width: 1px;
}

.nav__item--active::after {
  top: 0;
  right: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}

.nav__item--active em::before {
  bottom: 0;
  left: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.nav__item--active em::after {
  bottom: 0;
  right: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
}

.nav__item a {
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  position: relative;
}

/* https://codepen.io/Amedomary/pen/yGbMWO */
.detroit-preloader .move-grope {
    transform-origin: center center;
}

.detroit-preloader .move-grope.a {
    animation-name: detroit-a;
    animation-duration: 2.382s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.detroit-preloader .move-grope.b {
    animation-name: detroit-b;
    animation-duration: 2.431s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, 0.28, 0.35, 0.65);
}

.detroit-preloader .move-grope.c {
    animation-name: detroit-c;
    animation-duration: 2.812s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.26, 0.49, 0.55, 0.77);
}

.detroit-preloader .over-blur {
    animation-name: detroit-over, detroit-over-r;
    animation-duration: 5.217s, 3.71s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.26, 0.49, 0.55, 0.77), ease-in-out;
}

@keyframes detroit-over {
    0% {
        stroke-width: 0;
    }
    12% {
        stroke-width: 0;
    }
    50% {
        stroke-width: 5;
    }
    91% {
        stroke-width: 0;
    }
    100% {
        stroke-width: 0;
    }
}

@keyframes detroit-over-r {
    0% {
        r: 68;
    }
    33% {
        r: 72;
    }
    66% {
        r: 65;
    }
    100% {
        r: 68;
    }
}

@keyframes detroit-a {
    0% {
        transform: rotate(120deg) scale(1);
    }
    50% {
        transform: rotate(480deg) scale(1.1);
    }
    100% {
        transform: rotate(840deg) scale(1);
    }
}

@keyframes detroit-b {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(0.95);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

@keyframes detroit-c {
    0% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(960deg);
    }
}
.preloader-ex {
    transform-origin: center;
    border-radius: 75%;
    width: 65px;
    height: 65px;
    margin: 15px;
    display: flex;
}

.preloader-ex > * {
    margin: auto !important;
}

.preloader-ex.a {
    transform: rotate(47deg);
    background: var(--bg-color);
    color: var(--bg-color);
}

/* https://codepen.io/NilsWe/pen/Axdozd */

.education__list {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 24px 0;
  list-style: none;
}

.education__list:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.education__list li {
  padding: 1em 0;
}

.education__list li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.left {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.right {
  position: relative;
  width: 300px;
  float: right;
}

.education__title-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.education__title-wrapper h3 {
  position: relative;
  background: var(--text-white);
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.left h3 {
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.right h3 {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.left h3:before,
.right h3:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 17px;
  height: 17px;
  margin-top: -10px;
  background: var(--text-white);
  border-radius: 10px;
  border: 4px solid var(--blue-light);
  z-index: 10;
}

.right h3:before {
  left: -38px;
}

.left h3:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: var(--text-white);
  border-width: 8px;
  pointer-events: none;
}

.right h3:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: var(--text-white);
  border-width: 8px;
  pointer-events: none;
}

.education__date-wrapper {
  display: inline;
  line-height: 20px;
  font-size: 12px;
  color: var(--blue-light);
  vertical-align: middle;
}

.left .education__date-wrapper {
  float: left;
}

.right .education__date-wrapper {
  float: right;
}

.education__date {
  display: inline-block;
  padding: 4px 6px;
}

.education__wrapper p {
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
}

.right p {
  margin: 1em 0 0 0.75em;
}